@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Protest+Riot&display=swap');
*{
    font-family: 'Protest Guerrilla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search{
    height: 40vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.search .content {
    position:relative;
    z-index: 2;
    text-align: center;
    color: #fff;
}
.search h1{
    font-size: 2.65rem;
    font-weight: 600;
}
.search p{
    font-size: 1.5rem;
    margin-top: 8px;
}

.search .search-box{
    height: 55px;
    margin: 45px 0;
    position: relative;
}
.search-box span{
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 1.4rem;
    color: #8d8d8d;
    transform: translateY(-50%);
}
input,button,span{
    outline: none;
    border:none;
    border-radius: 5px;
}
.search-box input{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding-left: 55px;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .images{
    gap: 15px;
    columns: 5 340px;
    max-width: 95%;
    margin-top: 40px;

}
.images .card{
    display: flex;
    position: relative;
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
    overflow: hidden;
}
.images img{
    width: 100%;
}
.gallery .load-more{
    margin: 50px 0;
    font-size: 1.2rem;
    padding: 12px 27px;
    background: #8a6cff;
    color: #fff;
    cursor: pointer;
}

.gallery .load-more .disabled{
    opacity: 0.6;
    pointer-events: none;
}
.images .card .details{
    position: absolute;
    bottom: -100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    transition: bottom 0.1s ease;
    background: linear-gradient(to top,rgba(0,0,0,0.7),transparent);
}
.images .card:hover .details{
    bottom: 0;
}
 .photographer{
    color: #fff;
    display: flex;
    align-items: center;
}
.card .details button{
    cursor: pointer;
    padding: 3px 8px;
    font-size: 1.1rem;
    background:#fff;
    cursor: pointer;
}
 .photographer .material-symbols-outlined{
    font-size: 1.4rem;
    margin-right: 10px;
}
.details .photographer .name{
    font-size: 1.05rem;
}

.lightbox{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    display: none;
}

.lightbox.show{
    display: block;
}

.lightbox .wrapper{
    position: absolute;
    left: 50%; 
    top: 50%;
    width: 100%;
    max-width: 850px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .photographer{
    color:#333;
}
header .buttons span{
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    display: inline-block;
    background: #8a6cff;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.buttons span:last-child{
    margin-left: 10px;
    background-color: #6c757d;
}
.preview-img{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.wrapper .preview-img .img{
    max-width: 90vh;
    max-height: 65vh;
}
.preview-img .img img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}